<div class="row mt-4">
  <main class="col-md-12">
    <h1 class="display-4">Welcome to the About Page</h1>
    <p class="lead">Learn more about me and my background.</p>
    <h2>About Me</h2>
    <p>My name is Mohammad Muzammil Afsar, and I am a student in the Web 700
      program. I am passionate about learning and applying HTML5 principles and
      techniques in web development.</p>
    <p>Feel free to explore the various pages on this website and discover more
      about HTML5 and routing in Express.</p>
  </main>
</div>