@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Indie+Flower&family=Kanit&display=swap');

.navbar.bg-light {
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-light .navbar-brand {
    font-family: 'Dosis', sans-serif; 
    color: #9ccc65; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  
  .navbar-nav .nav-link {
    font-family: 'Kanit', sans-serif; 
    color: #333; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #0277bd !important; 
  }
  
  
  body {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    min-height: 100vh;
  }
  
  
  .btn-primary {
    background-color: #007bff; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif; 
    color: #004d40; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  
  
  legend {
    padding: 10px 0; 
    font-family: 'Dosis', sans-serif; 
    color: #3e2723; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  }
  